.container-box {
    position: absolute;
    width: calc(100% - 70px);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: calc(100vh - 120px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFFFFF;
    border: 1px solid #EEF0F2;
    padding: 0;
}

.tab-icons {
    position: absolute;
    right: 0;
    top: 16px;
    margin-right: 30px;
    img {
        padding: 0 15px;
    }
}