@import '../../../assets/css/variables';
.header {
    background-color: $white;
    border-bottom: $border;
    display: flex;
    .logo-set,
    .login-set {
        display: flex;
        flex-direction: row;
    }
    .logo {
        border-right: $border;
        padding: 17px;
    }
    .header-name {
        padding: 20px 35px 0 35px;
        display: flex;
        color: $blue;
        border-right: $border;
        font-size: 12px;
        img {
            width: 18px;
            height: 19px;
        }
    }
    .login-img {
        padding: 16px
    }
    .login-txt {
        padding: 25px 35px 0 0;
        color: #DFE3E6;
        font-size: 11px;
    }
}

.main-container {
    display: flex;
    height: calc(100vh - 66px);
    .main-container-l {
        width: 60px;
        flex: 60px 0 0;
        background-color: $white;
        border-right: $border;
    }
    .main-container-c {
        flex: calc(100% - 192px) 0 0;
        padding: 0 35px;
        position: relative;
        router-outlet {
            width: 100%;
        }
    }
    .main-container-r {
        width: 60px;
        flex: 60px 0 0;
        background-color: $white;
        border-left: $border;
    }
}

.right-bar-links {
    display: flex;
    flex-direction: column;
    img {
        padding: 22px 20px;
    }
}