<div class="flex">
  <div>
    <p>
      Number of Objects vs. Time (Mins)
    </p>
    <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme_line1"
          [results]="single_line1"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel_line1"
          [yAxisLabel]="yAxisLabel"
          [showGridLines] = "true"
          [curve]="curve"
          [yScaleMin] = 0
          [xScaleMin] = 0
          [yScaleMax] = "yScaleMax_line1"
          [xScaleMax] = "xScaleMax_line1"
          [roundDomains] = "true">
    </ngx-charts-line-chart>
  </div>
  <div>
      <p>
          Number of Objects vs. Throughput (O*R/sec)
      </p>
  <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme_line2"
        [results]="single_line2"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel_line2"
        [yAxisLabel]="yAxisLabel"
        [showGridLines] = "true"
        [yScaleMin] = 0
        [xScaleMin] = 0
        [yScaleMax] = "yScaleMax_line2"
        [xScaleMax] = "xScaleMax_line2"
        [curve]="curve"
        [roundDomains] = "true">
  </ngx-charts-line-chart>
</div>
<div>
    <p>
        Equipment Number vs. Placement Time (Secs)
      </p>
  <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme_line3"
        [results]="single_line3"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel_line3"
        [yAxisLabel]="yAxisLabel"
        [showGridLines] = "true"
        [curve]="curve"
        [yScaleMin] = 0
        [xScaleMin] = 0
        [yScaleMax] = "yScaleMax_line3"
        [xScaleMax] = "xScaleMax_line3"
        [roundDomains] = "true">
  </ngx-charts-line-chart>
</div>
<div>
    <p>
        Number of Pipes vs. Routing Time (Secs)
      </p>
  <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme_line4"
        [results]="single_line4"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel_line4"
        [yAxisLabel]="yAxisLabel"
        [showGridLines] = "true"
        [curve]="curve"
        [roundEdges] = "true"
        [yScaleMin] = 0
        [xScaleMin] = 0
        [yScaleMax] = "yScaleMax_line4"
        [xScaleMax] = "xScaleMax_line4"
        [roundDomains] = "true">
  </ngx-charts-line-chart>
  </div>
</div>
<div class="text-center btn-pos-abs">
  <button class="mat-raised-button adi-btn" (click)="dispatchTabChangeEvent()">Run New Test</button>
</div>