table {
    width: 100%;
}  
label {
    cursor: pointer;
    color: blue;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-table {
border: 1px solid rgba(0, 0, 0, 0.12);
box-shadow: none;
mat-row:nth-child(even) {
    background-color: #fdfdfd;
    cursor: pointer;
}
    .output-section {
        table{
            td{
                border: 0px
            }
        }
        button {
            padding: 0;
            border: 0px;
            background: transparent;
            cursor: pointer;
            img {
                width: 20px;
            }
        }
    }
}

.actionField{
    width: 100px !important;
    margin-top: 10px !important; 
}
